navbg = #222

directory = #aaa
file = #777

mouseover = #333
selected-bg = #4e4e4e
selected-file = #fff

transition-speed = 0.1s

icon-color = #aaa
icon-hover = #ccc
icon-current = #fff

changed-color = lighten(yellow, 50%)
changed-icon = changed-color
changed-bg = transparent

sidebar-width = 250px