.content
	overflow scroll
	
pre
	font-weight 600
	margin .5em 0

pre, code
	font-size 14px
	text-shadow none !important

code[class*="language-"], pre[class*="language-"]
	font-family 'Source Code Pro'

.line-numbers .line-numbers-rows
	border-right 0
	
.no-file-chosen
	color rgba(255, 255, 255, 0.1)
	font-weight 200
	font-size 3em
	user-select none
	cursor default
	
.prism-previewer-color, .prism-previewer-gradient
	margin-left -70px
	margin-top -60px
