*
	box-sizing border-box

body
	background #272822
	color #fff
	font-family 'Source Code Pro' !important
	margin 0
	-webkit-font-smoothing antialiased

[layout~="full-col"]
	height 100vh
	max-height 100vh