*
	box-sizing border-box
	
html, body
	overflow hidden

body
	background #272822
	color #fff
	font-family 'Source Code Pro' !important
	margin 0
	-webkit-font-smoothing antialiased
	position relative

[layout~="full-col"]
	height 100vh
	max-height 100vh