<div class="wrapper" layout="full-col">

	<div layout="row" ratio="1">
		<ul class="file-nav" id="nav">
			<li ng-repeat="file in files" ng-class="{file: file.type == 'file', directory: file.type == 'directory'}">
				<file-nav-item data="file" choose="choose" current="currentFile" opening="openingFuncs" changing="changingFuncs" />
			</li>
		</ul>
		
		<div class="content" id="content" ratio="1" layout="col">
			<pre ratio="1" ng-show="syntax" class="{{ syntax }} line-numbers"><code class="{{ syntax }}" ng-bind="fileContent"></code></pre>
			
			<div ng-show="!syntax" layout="col" justify="center" align="center" ratio="1" class="no-file-chosen">
				Please choose a file
			</div>
		</div>

		<div id="sidebar-resizer" 
			resizer="vertical" 
			resizer-width="6" 
			resizer-left="#nav" 
			resizer-right="#content"
			resizer-max="400"
			resizer-min="100">
		</div>
	</div>
</div>